<ion-view id="myTravelDetail" class="myTravel" view-title="游记详情" cache-view="true">
    <ion-header-bar align-title="center" class="header">
        <div class="buttons left_btn">
            <button ng-click="$ionicGoBack()" class="button ion-ios-arrow-left"></button>
        </div>
        <h1  class="title">游记详情</h1>
    </ion-header-bar>
    <ion-content class="wrap">
        <!--上部游记内容-->
        <section class="travel_content">
            <!--用户信息-->
            <div class="user_info">
                <div class="user_logo">
                    <img ng-src="{{item.icon}}" alt="">
                </div>
                <div class="info">
                    <div class="left">
                        <p>{{item.nick}}</p>
                        <p>{{item.createTime*1000 | date:"MM月dd日 HH:mm"}} {{item.address}}</p>
                    </div>
                    <!--内部收藏暂时取消，状态同步问题-->
                    <!--<collect  token="token"-->
                              <!--id="id"-->
                              <!--img="item.icon">-->
                    <!--</collect>-->
                </div>

            </div>
            <!--文字-->
            <article ng-if="item.content" class="text">
                {{item.content}}
            </article>
            <!--图片-->
            <ul ng-if="item.images" class="photos">
                <li ng-repeat="photo in item.images">
                    <img ng-src={{photo}} alt="">
                </li>
            </ul>
        </section>
        <!--下部评论-->
        <section class="detail_comment">
            <ul>
                <li ng-repeat="commentItem in commentItems">
                    <!--用户信息-->
                    <div class="user_logo">
                            <img ng-src={{commentItem.icon}} alt="">
                    </div>
                    <div class="detail">
                        <div class="top">
                            <div class="left">
                                <p>{{commentItem.nick}}</p>
                            </div>
                            <!--游记评论点赞-->
                            <!--<button type="button" class="praise">-->
                                <!--<i></i>-->
                            <!--</button>-->
                            <likelite number="commentItem.favor" id="commentItem.id"></likelite>
                        </div>
                        <div class="text">
                            {{commentItem.content}}
                        </div>
                        <div class="bottom">
                            {{commentItem.createTime*1000 | date:"MM-dd HH:mm"}}&nbsp;-&nbsp;
                            <button ng-if="commentItem.userId!=userId"
                                    ui-sref="myTravelReply({itemId:commentItem.id})"
                                    type="button">回复&nbsp;{{commentItem.replyCount>0?commentItem.replyCount:''}}
                            </button>
                            <div ng-show="commentItem.userId==userId" class="delete_wrap">
                                <deletecomment token="token" id="commentItem.id">
                                </deletecomment>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </section>
    </ion-content>
    <ion-footer-bar class="footer">
        <ul>
            <li ng-show="item.userId!=getuserId" ng-click="report($event)"><i></i>举报</li>
            <li ng-click="writeComment()"><i></i>写评论</li>
            <li>
               <!--自定义指令---点赞-->
               <like number="item.upvoteCounts" id="item.id"></like>
            </li>
        </ul>
    </ion-footer-bar>
</ion-view>



