<ion-view id="myTravelList" class="myTravel" view-title="游记列表" cache-view="true">
    <ion-header-bar align-title="center" class="header">
        <div class="buttons left_btn">
            <button ng-click="$ionicGoBack()" class="button ion-ios-arrow-left"></button>
        </div>
        <h1  class="title" ng-click="showSelect=!showSelect">{{cityName}}
            <i class="ion-ios-arrow-down"></i>
        </h1>
        <div class="buttons right_btn">
           <button class="button" ng-click="writeNotes()">写游记</button>
        </div>
    </ion-header-bar>
    <!--选择查看游记城市-->
    <ul class="select_city" ng-show="showSelect">
        <li ng-click="allCity()">全部</li>
        <li ng-click="showModal()">其他城市</li>
    </ul>
    <ion-content>
        <ul class="wrap">
            <li ng-repeat="item in openTravelNotes">
                <!--判断当前用户 -->
                <div ng-if="item.userId==getuserId">
                    <myactionsheet token="token"
                                   open="item.open"
                                   travelid="item.id"
                                   public="public">
                    </myactionsheet>
                </div>
                <div class="discern">
                    <!--左边头像-->
                    <div class="user_logo">
                        <img ng-src="{{item.icon}}" alt="">
                    </div>
                    <!--右边内容-->
                    <div class="detail" ui-sref="myTravelDetail({itemId:item.id})">
                        <!--时间-->
                        <div class="info">
                            <div class="left">
                                <p>{{item.nick}}</p>
                                <p>{{item.createTime*1000 | date:"MM月dd日 HH:mm"}} {{item.address}}</p>
                            </div>
                            <!--收藏-->
                            <!--<collect  token="token"-->
                                      <!--id="item.id"-->
                                      <!--img="item.icon"-->
                                      <!--nick="item.nick"-->
                                      <!--content="item.content"-->
                                      <!--ng-if="item.userId!=getuserId">-->
                            <!--</collect>-->

                        </div>
                        <div class="text">
                            {{item.content.substring(0,104)}}
                            <span ng-if="item.content.length>104">...</span>
                            <div ng-if="item.content.length>104" class="seeMore">查看全文</div>
                        </div>
                        <!--一张图片-->
                        <div ng-if="item.images.length==1"
                             ng-repeat="photo in item.images track by $index"
                             class="one_photo">
                            <img ng-src="{{photo.thumb320}}" alt="">
                        </div>
                        <!--多张图片-->
                        <ul class="row photos"
                            ng-if="item.images.length>1">
                            <li class="col col-33"
                                ng-if="$index<9"
                                ng-repeat="photo in item.images track by $index"
                                ng-style="{'background-image':'url('+photo.thumb320+')'}"
                                on-repeat-finished-render n>

                            </li>
                        </ul>

                        <!--下部点赞、评论、举报-->
                        <ul class="bottom">
                            <li>
                                <!--自定义指令---点赞-->
                                <like number="item.upvoteCounts" id="item.id"></like>
                                <span class="comment">
                                <i></i>{{item.commentsCount>0?item.commentsCount:''}}&nbsp;评论
                            </span>
                            </li>
                            <!--举报-->
                            <li   ng-show="item.userId!=getuserId"
                                  ng-click="report($event)">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>

            </li>
        </ul>
        <!--滚动加载-->
        <ion-infinite-scroll
                immediate-check="false"
                ng-if="!noMorePage"
                distance="2%"
                on-infinite="loadData()">
        </ion-infinite-scroll>
    </ion-content>

</ion-view>

































